body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

h2 {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.header-pags {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-list {
    display: none;
}

.page-nav {
    display: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.17;
}

.logo-span {
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.burger-menu-button {
    background: transparent;
    border: none;
    padding: 16px;
}

.burger-menu-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-menu-button {
        display: none;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .page-nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .link-line,
    .link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .page-nav .link,
    .page-nav .link-line {
        padding: 24px 0;
        display: block;
        color: #2e2f42;
        text-decoration: none;
        letter-spacing: 0.02em;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }

    .link-line.current {
        position: relative;
    }

    .link-line.current::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .page-nav .link:hover,
    .page-nav .link:focus,
    .link-line.current {
        color: #404bbf;
    }

    .page-nav .link-line:hover,
    .page-nav .link-line:focus {
        color: #404bbf;
    }

    .page-nav .link-line:active {
        text-decoration: underline;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-list .link {
        color: #434455;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .contacts-list .link:hover,
    .contacts-list .link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
    }

    .contacts-list .link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-menu-close-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
    background-color: #404bbf;
}

.mobile-menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover .mobile-menu-close-icon,
.mobile-menu-close-button:focus .mobile-menu-close-icon {
    fill: #ffffff;
}

.mobile-menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.link-line,
.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav .link,
.mobile-nav .link-line {
    display: block;
    color: #2e2f42;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
}

.mobile-nav .link:hover,
.mobile-nav .link:focus,
.link-line.current {
    color: #404bbf;
}

.menu-contacts-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
}

.contacts-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-list .link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-contacts-list .menu-link {
    color: #4d5ae5;
}

.menu-contacts-list .link:hover,
.menu-contacts-list .link:focus {
    color: #404bbf;
}

.menu-icon-list {
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 50%;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-list .icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.hero {
    background-color: #2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/peopleofficeS1-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (min-resolution: 2x) {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/peopleofficeS1-mob-mob-2x.jpg");
    }
}

.hero-wrap {
    display: block;
    text-align: center;
    padding: 72px 0;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
    margin: 0 auto;
    max-width: 216px;
}

.hero-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    border: none;
    margin-top: 72px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/peopleofficeS1-tab.jpg");

        @media screen and (min-resolution: 2x) {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/peopleofficeS1-tab-2x.jpg");
        }
    }

    .hero-wrap {
        padding: 112px 0;
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
        line-height: 1.07;
    }

    .hero-button {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/peopleofficeS1.jpg");

        @media screen and (min-resolution: 2x) {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/peopleofficeS1-2x.jpg");
        }
    }

    .hero-wrap {
        padding: 188px 0;
    }

    .hero-button {
        margin-top: 48px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-text {
    margin-top: 8px;
}

.features-icon-wrap {
    display: none;
}

@media screen and (max-width: 767px) {
    .features-title {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1157px) {
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .features-text {
        font-weight: 500;
    }
}

@media screen and (min-width: 768px) {
    .features-list {
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-icon-wrap {
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 8px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-container {
    padding: 96px 0;
}

.team-section {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 72px;
}

.team-title {
    padding-bottom: 72px;
    display: flex;
    justify-content: center;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.image-container {
    padding: 32px 16px;
}

.team-name {
    padding-bottom: 8px;
}

.team-name,
.team-role {
    text-align: center;
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 50%;
    margin-top: 8px;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list .icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon-team {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-container {
        padding: 96px 92px;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.portfolio-container {
    padding: 96px 0;
}

.post-subtitle {
    padding-bottom: 72px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
}

.post-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-text {
    position: absolute;
    top: 0;
    padding: 40px 32px 164px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list:hover .portfolio-text {
    transform: translateY(0);
}

.image-portfolio-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

@media screen and (max-width: 1157px) {
    .portfolio-list {
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 768px) {
    .post-portfolio {
        gap: 72px 24px;
    }

    .portfolio-list {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-container {
        padding: 120px 0;
    }

    .post-portfolio {
        gap: 48px 24px;
    }

    .portfolio-list {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-list:hover {
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}


footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-section .logo {
    color: #f4f4fd;
}

.footer-logo {
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.flex-footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: baseline;
    justify-content: center;
}

.footer-send-icon {
    fill: #ffffff;
}

.social-icon {
    fill: #f4f4fd;
}

.footer-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-icon-list .icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-button {
    margin: 0 auto;
    margin-top: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    gap: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #31d0aa;
}

.footer-input {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-form-container .footer-input:hover,
.footer-form-container .footer-input:focus {
    border: 1px solid #31d0aa;
}

@media screen and (min-width: 768px) {
    .footer-text {
        max-width: 264px;
    }

    .flex-footer-container {
        gap: 72px 24px;
        justify-content: inherit;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-media-text {
        text-align: left;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-button {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .flex-footer-container {
        padding: 0 108px;
    }
}

@media screen and (min-width: 1158px) {
    footer {
        padding: 100px 0;
    }

    .flex-footer-container {
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 80px;
    }

    .footer-content {
        margin-right: 40px;
    }

    .footer-form-container {
        margin-left: auto;
        justify-content: center;
    }

    .footer-form {
        align-items: center;
        justify-content: center;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-field {
    margin-top: 8px;
}

.modal-input-wrapper {
    position: relative;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 256px;
    margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 34px;
    padding-right: 17px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover {
    border-color: #4d5ae5;
}

.modal-input:focus+.input-icon,
.modal-input:hover+.input-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus::placeholder,
.modal-textarea:hover::placeholder {
    color: #4d5ae5;
}

.modal-button {
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.modal-field-privacy {
    margin-top: 16px;
    margin-bottom: 24px;
}

.custom-checkbox {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-checkbox:checked+.form-label>.custom-checkbox {
    background-color: #404bbf;
    border-radius: 2px;
    fill: #ffffff;
    border: 1px solid #404bbf;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
    line-height: 1.33333;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-title {
        max-width: 360px;
    }

    .form-label {
        display: block;
    }
}

@media screen and (min-width: 1158px) {
    .modal-input {
        padding-left: 38px;
        padding-right: 19px;
    }
}